<!DOCTYPE html>
<html>
<header>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/Controller.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</header>

<!-- falta meter todo lo de ng-model -->


  <!-- <div ng-app="sampleApp" ng-controller="AngularController">

    
    <div ng-include="'footer.html'"></div> -->
  
    <body class="bg-light">
      <div ng-app="sampleApp" ng-controller="AngularController">
      <div ng-include="'header.html'"></div>

      <div class="container" id="container">
        <div class="py-5 text-center">
          
          </div>
  
             <div class="col-md-12">
            <h4 class="mb-3">Registrar</h4>
            <form class="needs-validation" ng-submit="insertUser()" novalidate="">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Nombre</label>
                  <input type="text" class="form-control" name="firstName" ng-model="firstName" value="" required="">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Apellido</label>
                  <input type="text" class="form-control" name="lastName" ng-model="lastName" value="" required="">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
  
              <div class="mb-3">
                <label for="username">Nombre de usuario</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" name="username" ng-model="username" required="">
                  <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                  </div>
                </div>
              </div>
  
              <div class="mb-3">
                <label for="email">Email</span></label>
                <input type="email" class="form-control" name="email" ng-model="email" placeholder="you@example.com" required="">
                <div class="invalid-feedback">
                  Please enter a valid email.
                </div>
              </div>
              <div class="mb-3">
                <label for="pass">Password</span></label>
                <input type="password" class="form-control" name="pass" ng-model="pass" required="">
                <div class="invalid-feedback">
                  Please enter a valid password.
                </div>
              </div>

             <!--- <div class="mb-3">
                <label for="pass">Repeat Password</span></label>
                <input type="password" class="form-control" name="pass" ng-model="rep-pass" compare-to="pass" required="">
                <div class="invalid-feedback">
                  Please enter a valid password.
                </div>
              </div>
--->

              <div class="mb-3">
                <label for="age">Edad</label>
                <input type="number" class="form-control" name="age" ng-model="age" placeholder="" required="">
                <div class="invalid-feedback">
                  Please enter your age.
                </div>
              </div>
              
              
  
              <h4 class="mb-3">Genero</h4>
  
              <div class="d-block my-3">
                <div>
                  <label> 
                    <input type="radio" ng-model="gender" value="man">
                      Hombre</label><br>

                  <label">
                    <input type="radio" ng-model="gender" value="woman">
                    Mujer</label>
                </div>
              </div>
              
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="!email || !firstName || !lastName || !username || !age || !gender || !pass">Registrar</button>
            </form>
          </div>
        </div>


        <div ng-include="'footer.html'"></div>
      </div>
  </div>
      <!--  Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
     <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script src="../../assets/js/vendor/holder.min.js"></script>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
  
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
  
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>
     -->
  
  </body>
</html>